{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ol>
  {% for student in object_list %}
    <li>{{ student.name }}, {{ student.group }} класс<br>
      Преподаватели: 
      <ul>{% for teacher in student.teachers.all %}
        <li>{{ teacher.name }}: {{ teacher.subject }}</li>
        {% endfor %}
      </ul><br>
    </li>
  {% endfor %}
  </ol>
</div>
{% endblock %}


<!--{{ student.name }}: 
<ul>
  {% for teacher in student.teachers.all %}
  <p>{{ teacher.name }}: {{ teacher.subject }}</p>
  {% endfor %}
</ul>>-->